<div class="profile-page-container">
  <div class="profilePageContainer">
    <img class="profilePicture"
         src="https://images.news18.com/ibnlive/uploads/2017/02/playboy.jpg?impolicy=website&width=510&height=356">
    <p class="name">TUDOR CHEREGI</p>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat sed diam vestibulum
      dignissim. Donec venenatis mi placerat tristique varius cras.</p>
  </div>
  <div class="profile-posts-container" *ngFor="let id of this.list index as i">
    <div class="post-container">
      <app-post [id]="id">

      </app-post>
    </div>
  </div>
</div>


