
<div class="profilePageContainer">
  <img class="profilePicture" src="https://images.news18.com/ibnlive/uploads/2017/02/playboy.jpg?impolicy=website&width=510&height=356">
  <p class="name">TUDOR CHEREGI</p>
  <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat sed diam vestibulum dignissim. Donec venenatis mi placerat tristique varius cras.</p>
</div>

<div class="profileMemesContainer">
  <p class="memeTitle">Sunt foarte amuzant</p>
  <p class="memeDescription">Sunt foarte amuzant</p>
  <img class="memePicture" src="https://i.ytimg.com/vi/Dop3hq_TW0A/maxresdefault.jpg">
</div>

<div class="profileMemesContainer">
  <p class="memeTitle">Sa-mi bag pula n ma-ta</p>
  <p class="memeDescription">giorgi</p>
  <img class="memePicture" src="https://pbs.twimg.com/media/EriJS53XIAADiWJ.jpg">
</div>
