div.mat-dialog-actions{
  justify-content: center;
}

.container {
  margin: 30px auto;
  padding: 20px;
  background-color: red;
  position: fixed;
  top: 0;
}
.titlu-dialog{
  color: white;
  font-weight:lighter;
  font-family: Verdana, sans-serif;
  text-shadow: 2px 2px 4px #000000;
}
.button-dialog{
  background-color: white;
  font-weight:lighter;
  font-family: Verdana, sans-serif;
}

