.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
input{
  display: block;
  margin: 8pt;
  padding:10px;
  border-radius:10px;
;
}
button{
  padding:10px;
  border-radius:10px;
}
