


*, *::before, *::after {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 html {
	 font-family: Verdana, sans-serif;
}
 body {
	 min-height: 100vh;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .card {
	 width: 100%;
	 border-radius: 20px;
	 background: #191a1d;
	 overflow: hidden;
	 padding: 14px;
	 position: relative;
}
 .card header.user {
	 display: flex;
	 gap: 12px;
}
 .card header.user img {
	 height: 40px;
	 width: 40px;
	 border-radius: 50%;
	 object-fit: cover;
}
 .card header .user-info-name {
	 letter-spacing: 0.4px;
	 font-size: 14px;
	 font-weight: 500;
	 color: #fff;
}
 .card header .user-info-time {
	 font-size: 12px;
	 color: rgba(255, 255, 255, 0.588);
}

 .card main p {
	 font-size: 14px;
	 color: #fff;
	 margin-top: 16px;
	 line-height: 1.7;
}
 .card section {
	 margin-top: 20px;
	 display: flex;
	 align-items: center;
}
 .card section .users-avatars {
	 margin-right: 21px;
	 display: flex;
	 align-items: center;
}
 .card section .users-avatars img {
	 height: 32px;
	 width: 32px;
	 object-fit: cover;
	 border-radius: 50%;
	 border: 3px solid #191a1d;
	 margin-right: -21px;
}
 .card section p {
	 color: rgba(255, 255, 255, 0.508);
	 font-size: 12px;
	 margin-left: 10px;
}
 .card section p.comment {
	 margin-left: auto;
}

 .meme-image{
   max-width: 100%;
   max-height: 50vh;
   margin: 0 auto;
 }

