<div class="card">
        <div class="ovelay"> </div>
        <header class="user">
            <img src="{{this.getImagePath(this.post.profile_pic)}}" alt="">
            <div class="user-info">
                <h2 class="user-info-name" (click)="navigateToUserProfile(this.post.user_id)">{{this.post.first_name+" "+this.post.last_name}}</h2>
                <p class="user-info-time">{{this.post.date.slice(0,10)}}</p>
            </div>
        </header>
        <main>
            <p>{{this.post.description}}</p>
            <div style="display:flex;justify-content: center; width: 100%"><img class="meme-image" src="{{this.getImagePath(this.post.image)}}"></div>
        </main>
        <section>
          <button mat-icon-button class="mat-button" (click)=(this.likePost())>
<!--            <mat-icon id="{{'like-button'+post.id}}"> favorite_outline </mat-icon>-->
            <mat-icon *ngIf="post.is_liked_by_user"> favorite </mat-icon>
            <mat-icon *ngIf="!post.is_liked_by_user"> favorite_outline </mat-icon>
            {{this.post.no_likes}}
          </button>
            <p class="comment"  style="cursor: pointer" (click)="commentsOpen.emit(post.id)">{{post.comments.length}} comment</p>
        </section>
    </div>
